.App {
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.card{
  background-color: rgb(177, 163, 163);
  width: 50%;
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: space-between;
  padding: 0 10px;
}

.actions{
  display: flex;
  gap:18px;
  cursor: pointer;
}